/* Contact Section */
.contact-section {
  padding: 60px 20px;
  background-color: hsl(220, 45%, 77%);
  text-align: center;
  min-height: 60vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* Heading */
.contact-section h2 {
  color: #4f46e5;
  font-size: 2rem;
  margin-bottom: 20px;
}


